.hero_section {
    width: 100%;
    min-height: 630px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: url('../../assets/HomeAssets/homebg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_section__title {
    font-size: 46.5px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin-bottom: 28px;
    font-family: Helvetica;
}

.hero_section__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 46px;
}

.hero_section__search{
    max-width: 920px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.hero_section__search__bar{
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    max-width: 495px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-color: transparent;
    border-radius: 20px;

    background-color: #FFFFFF;


    font-size: 16px;
    line-height: 40px;
}

.hero_section__search__bar__icon{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_section__search__bar__input{
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    border: none;
    outline: none;
}

.hero_section__search__filterbtns{
    display: flex;
    align-items: center;
    gap: 20px;
}